{% extends "social_network/base.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">

            <div class="article-metadata">
              <a class="mr-2" href="/accounts/user/{{ user.pk }}/">{{ user.username }}</a>
              <small class="text-muted">{{ user.post_set.all.count}} Post Pubblicati</small>
            </div>

                {% if user.is_staff %}
                    <p>L'utente fa parte dello staff del sito</p>
                {% endif %}

                {% if user.is_active %}
                    <p>L'utente è attualmente attivo</p>
                {% endif %}

          </div>
        </article>

{% endblock content %}

